* {
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}

.nav .logo {
  font-size: 20px;
  font-weight: bold;
}

li {
  display: inline-block;
  margin-right: 20px;
}
#header {
  background-color: deepskyblue;
}
.header__intro {
  padding-top: 5%;
  padding-bottom: 4%;
  padding-left: 2%;
  color: white;
  width: 35%;
}
span {
  color: yellow;
}
button {
  margin-top: 20px;
  background-color: transparent;
  width: 100px;
  color: white;
  height: 40px;
  border-color: white;
}
img {
  width: 400px;
  height: 400px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  padding-right: 5%;
}
h2 {
  padding-top: 5%;
  text-align: center;
  color: darkgray;
}
.AboutUs {
  width: 60%;
  margin-left: 2%;
}
.AboutUs p {
  margin-top: 4%;
}
#AboutUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
